@charset "utf-8";

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
slogan, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 1rem;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
slogan, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
ol, ul {
	list-style: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
html {
    font-size: 10px;
    line-height: 1.15;
}
body {
    font-size: 1.4rem;
}
/* 하이퍼 링크 스타일 */
a {
    color: inherit;
    text-decoration: none;
}
/* 레이아웃 */
*, *::before , *::after {
    box-sizing: border-box;
}
.constainer {
    background: lime;
}
.container::before {
    content : "";
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 1000px;
    height: 100%;
    background: repeating-linear-gradient(90deg , rgba(0,0, 255, 0.2) , rgba(0,0,255,0.2) 65px , transparent 65px , transparent 85px);
}
.header , .navigation, .main , .slogan , .footer {
    width: 1000px;
    margin: 0 auto;
}
/* 헤더 */
.header {
    background: tomato;
    height: 100px;
    display: grid;
    grid-template-columns: repeat(12, 65px);
    grid-template-rows: 50px 50px;
    grid-column-gap: 20px;
}
/* 네비게이션 */
.nav-wrapper {
    background: #988574;
    height: 200px;
    border-top: 2px solid #181818;
    border-bottom: 2px solid #181818;
}
.navigation {
    background: transparent;
}
/* 메인 */
.main {
    background: yellow;
    height: 880px;
}
.slogan {
    background: pink;
    height: 75px;
}
.footer-wrapper {
    background: #988574;
    height: 100px;
}
.footer {
    background: #fff;
}