@charset "utf-8";
@import "./reset.css";

.board {
  width: 500px;
  background-color: #e9c372;
}

.row {
  display: flex;
}

.col {
  position: relative;
  flex-grow: 1;
  cursor: pointer;
}

.col::before {
  display: block;
  content: "";
  padding-bottom: 100%;
}

.col::after {
  position: absolute;
  display: block;
  content: "";
  padding-bottom: 80%;
  width: 80%;
  top: 10%;
  left: 10%;
  border-radius: 50%;
}

.col.black::after {
  background-color: black;
  box-shadow: 1px 1px 1px #404040;
  background-image: -webkit-radial-gradient(
    40% 40%,
    circle closest-corner,
    #606060 0%,
    rgba(0, 0, 0, 0) 90%
  );
}
.col.blackHover:hover::after {
  background-color: black;
  box-shadow: 1px 1px 1px #404040;
  background-image: -webkit-radial-gradient(
    40% 40%,
    circle closest-corner,
    #606060 0%,
    rgba(0, 0, 0, 0) 90%
  );
  opacity: 0.5;
}

.col.white::after {
  background-color: white;
  box-shadow: 1px 1px 1px #606060, inset -3px -3px 15px grey;
}
.col.whiteHover:hover::after {
  background-color: white;
  box-shadow: 1px 1px 1px #606060, inset -3px -3px 15px grey;
  opacity: 0.5;
}

.col__grid {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.col__grid::after {
  display: block;
  content: "";
  position: absolute;
  top: 0;
  right: calc(50% - 1px);
  bottom: calc(50% - 1px);
  left: 0;
  border-right: 1px solid black;
  border-bottom: 1px solid black;
  box-sizing: border-box;
}

.col__grid::before {
  display: block;
  content: "";
  position: absolute;
  top: calc(50%);
  right: -1px;
  bottom: -1px;
  left: calc(50%);
  border-top: 1px solid black;
  border-left: 1px solid black;
  box-sizing: border-box;
}

.row:first-child .col__grid::after {
  border-top: none;
  border-left: none;
  border-right: none;
}

.row:last-child .col__grid::before {
  border-bottom: none;
  border-left: none;
  border-right: none;
}

.col:first-child .col__grid::after {
  border-top: none;
  border-left: none;
  border-bottom: none;
}

.col:last-child .col__grid::before {
  border-top: none;
  border-bottom: none;
  border-right: none;
}

/* 내가 만든 스타일 */

/* 전체적인 레이아웃 */
.container {
  height: 100vh;
  display: grid;
  grid-template-rows: auto 500px auto;
  grid-template-columns: auto 500px 300px auto;
  text-align: center;
  background-color: #f2e1ac;
}

.display-board {
  grid-row: 2 / span 1;
  grid-column: 3;
  background-color: #e9c372;
}

.omok-board {
  grid-row: 2 / span 1;
  grid-column: 2;
}

/* flex 레이아웃 */
.turn , .timers , .btns {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* 게임 타이틀 */
.game-title {
  font-family: "Righteous", cursive;
  font-size: 6rem;
  padding: 1rem 0;
  height: 95px;
}

.white-turn,
.black-turn {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  margin: 1rem;
}

.white-turn {
  background-color: #fff;
  box-shadow: 5px 5px 5px #404040, inset -5px -5px 30px grey;
}

.black-turn {
  background-color: #000;
  box-shadow: 5px 5px 5px #404040;
  background-image: -webkit-radial-gradient(
    40% 40%,
    circle closest-corner,
    #606060 0%,
    rgba(0, 0, 0, 0) 90%
  );
}

.timers {
  height: 40px;
  font-size: 3rem;
}
.timers > p {
  margin: 0 1rem;
}

.btns {
  height: calc(100% - 235px);
}
/* 시작 버튼 */
.startBtn {
  width: 280px;
  font-size: 4rem;
  background-color: rgba(24, 24, 24, 0.9);
  border-bottom: 5px solid rgba(24, 24, 24, 1);
  text-shadow: 0px -2px rgba(24, 24, 24, 1);
  color: #fff;
  border-radius: 10px;
  padding: 0.5rem 1.5rem;
}

.startBtn:active {
  transform: translate(0px, 5px);
  border-bottom: 1px solid;
}

/* 빙그레 폰트 */
@font-face {
  font-family: "Binggrae-Bold";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/Binggrae-Bold.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}
/* 팝업 글꼴 변경 */
.swal2-popup .swal2-title,
.swal2-popup .swal2-styled.swal2-confirm {
  font-family: "Binggrae-Bold";
}
