.container {
    text-align: center;
    background-color: #181818;
    position: absolute;
    width: 100%;
    height: 100%;
    color: #fff;
    overflow: hidden;
}
.header{
    height: 135px;
    background-color: steelblue;
    display: flex;
    justify-content: center;
    align-items: center;
}
.game-title {
    font-size: 5rem;
}
.help {
    position: fixed;
    right: 1%;
    bottom: 1%;
    width: 24px;
    height: 24px;
    text-indent: 24px;
    white-space: nowrap;
    overflow: hidden;
    background-image: url("./question-mark.png");
    z-index: 200;
}
.main {
    position: absolute;
    height: calc(100% - 135px);
    width: 100%;
}
.score {
    margin-top: 10px;
    font-size: 2rem;
}
.game-rgb {
    position: relative;
    top: 47%;
    transform: translateY(-50%);
}
.rgb {
    margin-bottom: 50px;
    font-size: 3rem;
}
.color-item {
    width: 50px;
    height: 50px;
    text-indent: 50px;
    white-space: nowrap;
    overflow: hidden;
    display: inline-block;
    border-radius: 50%;
    margin: 0 10px;
    transition: all 0.45s ease;
}
.show {
    transform: scale(47);
}
.overlay {
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 100;
}
.good.overlay , .bad.overlay {
    display: block;
}
.bad.overlay .wrong , .good.overlay .correct{
    display: block;
}
.overlay .correct , .overlay .wrong {
    display: none;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}
.correct > p , .wrong > p {
    font-size: 5rem;
}
.correct .score , .wrong .score {
    font-size: 3rem;
}
.btn-replay {
    margin-top: 50px;
    background-color: transparent;
    font-size: 2rem;
    font-family: inherit;
    color: #fff;
    border: 2px solid #fff;
    border-radius: 3px;
    padding: 5px 10px;
}